#container{
	margin: 0 auto;
	max-width:600px;
	width:100%;
}

.archived{
	display: none;
}

.message{
	/*margin: 10px 0;*/
	width: auto;
	border-bottom: solid 1px;
	padding: 10px;
}

.channel_name{
	color: black;
	text-decoration-color: black;
	font-weight: bold;
	font-size: 90%;
}
.user_name{

}
.time{
	font-size: 60%;
}
.text{
	width: auto;
	font-size: 90%;
	word-wrap: break-word;
}
.link{
	font-size: 80%;
}
